.DrawerToggle {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
}

.DrawerToggle span {
    display: block;
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: #f08e4a;
    opacity: 1;
    border-radius: 9px;
}
.DrawerToggle span:nth-child(1) {
    top: 7px;
}

.DrawerToggle span:nth-child(2) {
    top: 17px;
}

.DrawerToggle span:nth-child(3) {
    top: 27px;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}